<turbo-frame id="viewTweet">
  <div class="flex justify-around text-sm border border-b-slate-300">
      {% if app.request.pathInfo == path('app_user_following', {'id': id}) %}
          <a href="{{path('app_user_following', {'id': id})}}" class="bg-zinc-800 text-slate-50 w-1/3 text-center p-2">
            following
          </a>
          <a href="{{path('app_user_followers', {'id': id})}}" class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
            followers
          </a>
          <a href="{{path('app_user_liked', {'id': id})}}" class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
            liked
          </a>
      {% elseif app.request.pathInfo == path('app_user_followers', {'id': id}) %}
        <a href="{{path('app_user_following', {'id': id})}}" class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
          following
        </a>
        <a href="{{path('app_user_followers', {'id': id})}}" class="bg-zinc-800 text-slate-50 w-1/3 text-center p-2">
          followers
        </a>
        <a href="{{path('app_user_liked', {'id': id})}}" class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
          liked
        </a>
      {% elseif app.request.pathInfo == path('app_user_liked', {'id': id})%}
        <a href="{{path('app_user_following', {'id': id})}}"  class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
          following
        </a>
        <a href="{{path('app_user_followers', {'id': id})}}" class="hover:bg-zinc-800 hover:text-slate-50 w-1/3 text-center p-2">
          followers
        </a>
        <a href="{{path('app_user_liked', {'id': id})}}"  class="bg-zinc-800 text-slate-50 w-1/3 text-center p-2">
          liked
        </a>
      {% endif %}
  </div>
    {% for user in users %}
      <div class="flex gap-1 items-center w-full justify-between px-3 py-2 border border-b-slate-300">
        <div class="flex items-center gap-2">
          <div class="w-[25px] h-[25px]">
            <img src="{{user.photo ? (user.photo):('/default.jpg')}}" alt="userPhoto" class="w-full h-full rounded-full" data-userActions-target="photo">
          </div>
          <div class="flex flex-col">
            <p class="text-xs text-slate-600">{{user.email}}</p>
            <p class="font-semibold text-sm leading-none">{{user.username}}</p>
          </div>
        </div>
          <a href="{{path('app_user_show', {'id': user.id})}}" data-turbo="false" class="hover:bg-white transition rounded-full p-1">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.03555 12.3224C1.96647 12.1151 1.9664 11.8907 2.03536 11.6834C3.42373 7.50972 7.36079 4.5 12.0008 4.5C16.6387 4.5 20.5742 7.50692 21.9643 11.6776C22.0334 11.8849 22.0335 12.1093 21.9645 12.3166C20.5761 16.4903 16.6391 19.5 11.9991 19.5C7.3612 19.5 3.42564 16.4931 2.03555 12.3224Z" stroke="#0F172A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="#0F172A" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </a>
      </div>
    {% endfor %}
</turbo-frame>